* {
    margin:0 auto;
    padding: 0;
}

body {
    animation: fade-in 1s ease-in-out forwards;
}

#banner {
    position: fixed;
    background-color:#fff;
    opacity: 50%;
    top: 1vw;
    width: 100%;
    height: 3.4vw;
    z-index: 1;
}

h3 {
    position: fixed;
    display: inline;
    top: 1vw;
    left: 3%;
    font-size: 3vw;
    font-family: "Beau Rivage", cursive, sans-serif;
    z-index: 1;
}

#buttons {
    position: fixed;
    top: 2.6vw;
    left: 18%;
    display: inline;
    z-index: 1;
}

button {
    margin-right: 1em;
    border: transparent;
    background-color: transparent;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2vw;
    z-index: 1;
}

button:hover {
    color: red;
}

@keyframes fade-in {
    0% {
        background-color: #000;
        opacity: 0%;
    } 50% {
        background-color: #fff;
        opacity: 0%;
    } 100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    100% {
        background-color: #000;
        opacity: 0%;
    }
}

#slideshow {
    position: fixed;
    margin-left: 6vw;
    margin-top: 3vw;
    top: 7%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2vw;
    width: 64%;
    color:#ddd;

    z-index: 1;
}

#videos {
    margin: 5%;
}