#banner {
    position:fixed;
    top:0px;
    z-index: 999;
    width:26.3%;
    left:25px;
    min-width:200px;

    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    
    background-image: 
        radial-gradient(circle at 10% 20%, rgba(190, 169, 108, 0.171) 0%, rgba(255,200,0,0) 50%),
        radial-gradient(circle at 80% 90%, rgba(255,255,40,0.05) 0%, rgba(255,255,40,0) 50%),
        linear-gradient(45deg, black, rgb(20, 20, 0));
    background-size: cover;
}

#top-banner{
    width:100%;
    display:inline-flex;
    align-items:center;
}

#top-banner > * {
    padding:10px;
}

#top-banner * {
    height:80px;
}

#title {
    margin:0px;
    margin-bottom:10px;
    font-size:80px;
    font-family: "Amatic SC", sans-serif;
    font-style: normal;
    padding-top:0px;

    overflow:hidden;
}

#buttons * {
    font-family:'Courier New', Courier, monospace;
}