* {
    margin:0 auto;
    padding: 0;
}

body {
    animation: fade-in 1s ease-in-out forwards;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

#banner {
    position: fixed;
    background-color:#fff;
    opacity: 50%;
    top: 1vw;
    width: 100%;
    height: 3.4vw;
    z-index: 1;
}

h3 {
    position: fixed;
    display: inline;
    top: 1vw;
    left: 3%;
    font-size: 3vw;
    font-family: "Beau Rivage", cursive, sans-serif;
    z-index: 1;
}

#buttons {
    position: fixed;
    top: 2.6vw;
    left: 18%;
    display: inline;
    z-index: 1;
}

button {
    margin-right: 1em;
    border: transparent;
    background-color: transparent;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2vw;
    z-index: 1;
}

button:hover {
    color: red;
}

@keyframes fade-in {
    0% {
        background-color: #000;
        opacity: 0%;
    } 50% {
        background-color: #fff;
        opacity: 0%;
    } 100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    100% {
        background-color: #000;
        opacity: 0%;
    }
}

#music-gallery {
    position: fixed;
    display: inline;
    top: 15%;
    left: 5vw;
    width: 50%;
    height: 100%;
    z-index: 1;
}

#clued {
    position: fixed;
    width: 20%;
    height: 80%;
}

#polychromatics {
    display: inline;
    position: fixed;
    width: 55%;
    left: 40%;
}

#clued-title {
    font-size: 5vw;
    font-family: 'Cormorant Garamond', cursive;
    font-weight: 300;
    color: #fff;
    margin-left: 20%;
}

#polychromatics-title {
    font-size: 4.6vw;
    margin-left: 15%;
    font-family: 'Whisper', cursive;
    color: #fff;
    font-weight: 300;
}

#puppet-title {
    position: absolute;
    font-size: 3vw;
    margin-left: 15%;
    top: 40%;
    left: 45%;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-weight: 300;
    z-index: 2;
}

#clued-song {
    z-index: 2;
    margin-left: 19%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #fff;
    text-shadow: 2px 2px #333;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    font-weight: 300;
}

#poly-song {
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 2;
    margin-left: 19%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #f66;
    text-shadow: 2px 2px #a22;
    background-color: rgba(0,0,0,0.5);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    font-weight: 300;
}

#spotify {
    width: 50%;
    height: 240;
}

#soundcloud {
    position: absolute;
    left: 65%;
    top: 44.5%;
}

#clued-background {
    position: absolute;
    border: 2px solid #000;
    height: 610px;
    width: 140%;
    z-index: -1;
    opacity: 50%;
    filter: brightness(50%);
    opacity: 100%;
    left: -30px;
}

#poly-background {
    position:absolute;
    z-index: -1;
    left: 53%;
    width: 32%;
    height: 68%;
}
#clued-player {
    margin-left: 17%;
}

#polychromatics-player {
    position: absolute;
    top: 40%;
    left: 55%;
}

ul {
    list-style-type: decimal;
    margin-left: 5%;
    height: 80%;
    color: #ddd;
    text-shadow: 1px 1px #000; 
    background-color: transparent;
}

#polychromatics-list {
    position:absolute;
    left: 53%;
    top: 58%;
    color: #ddd;
    text-shadow: 1px 1px #000; 
}

li {
    border-bottom: 1px solid #a88;
    background-color: transparent;
    font-family:'Times New Roman', Times, serif;
}

input {
    border: transparent;
    background-color: transparent;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-family:'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: 150%;
    outline: 1px #000;
}

.poly-input {
    color: #fcc;
    text-shadow: 2px 2px #a00;
    background-color: rgba(0,0,0,0.5);
}

input:hover {
    color:#faa;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    } 100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    } 100% {
        opacity: 0%;
    }
}
